<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mes Données</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <script src="{{ url_for('static', filename='js/keyboard_detector.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mobile_bar.js') }}"></script>
</head>

<div class="mobile-action-bar">
  <a class="mobile-icon with-loader" href="{{ url_for('interface_ia') }}"  aria-label="Accueil">
    <img class="scenario-img" src="{{ url_for('static', filename='img/icon_work.png') }}" alt="Accueil">
  </a>

  <a class="mobile-icon with-loader" href="{{ url_for('mon_dashboard') }}"  aria-label="menu"><img class="scenario-img"
    src="{{ url_for('static', filename='img/icon_home.png') }}"
    alt="Scénarios"></a>

  <a  href="{{ url_for('logout') }}" class="mobile-icon" aria-label="Déconnexion">
    <img class="scenario-img" src="{{ url_for('static', filename='img/icon_lock.png') }}" alt="Déconnexion">
  </a>
</div>


    <!-- adapdation css WPA -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pwa_adapt.css') }}">

    
<body>




  <div class="mobile-header"> 🔐 Mes Données : {{ student_id }}
          <!-- ⏳ Loader chargement serveur-->
    <div id="ui-loader" class="ui-loader hidden" aria-label="Chargement">
      <div class="ui-spinner"></div>
    </div>
  </div>





  <div class="dashboard-container">



    <div class="rgpd-banner">
        <h3>🛡️ Vos droits numériques (RGPD)</h3>
        <ul>
          <li>📄 Droit d'accès à vos données (article 15) : vous pouvez à tout moment télécharger vos échanges avec l'IA.</li>
          <li>🗑️ Droit à l'effacement (article 17) : vous pouvez demander la suppression de votre compte et de vos données.</li>
          <li>⚠️ Vos identifiants sont anonymes. Aucune donnée personnelle n’est stockée.</li>
          <li>🧹 Les échanges sont automatiquement supprimés après 15 jours.</li>
          <li>📦 L’ensemble des données est sécurisé et stocké en Europe.</li>
        </ul>
    </div> 

    <form method="get" action="{{ url_for('telecharger_logs') }}" class="scenario-action">
        <fieldset>
          <legend>📥 Télécharger mes échanges</legend>
          <p>Récupérer l’ensemble de vos interactions avec l’IA au format CSV, selon vos droits RGPD.</p>
          <!-- <button type="submit" class="button-download">Télécharger mes échanges</button> -->
          <button type="submit" disabled >Télécharger mes échanges</button>
        </fieldset>
      </form>

      <form method="post" action="#" class="scenario-action">
        <fieldset>
          <legend>🔑 Modifier le mot de passe</legend>
          <p>Ce bouton enregistrera un changement de mot de passe  (fonction inactive pour l’instant).</p>
          <button type="submit" disabled >Changement de mdp </button>
        </fieldset>
      </form>
  
      <form method="post" action="#" class="scenario-action">
        <fieldset>
          <legend>🗑️ Demander la suppression de mon compte</legend>
          <p>Ce bouton enregistrera une demande de suppression de vos données (fonction inactive pour l’instant).</p>
          <button type="submit" disabled>Demander la suppression</button>
        </fieldset>
      </form>


  </div>

  <!-- adapdation js WPA -->
      <script src="{{ url_for('static', filename='js/pwa_ui_adapt.js') }}"></script>

</body>
</html>
